<%- include('partials/head') %>
<body>
	<h2>Esta es la sección de productos</h2>
	
	<hr>
	<h4>El tempUser es:</h4>
	<p><%= locals.tempUser.name %> </p>
	<p><%= locals.tempUser.email %> </p>
	<hr>

	<img src="/images/walter-white.jpg" alt="">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione aspernatur fugiat praesentium veritatis, atque repellat pariatur sed modi est? Ipsa suscipit, incidunt veritatis dolor rem autem doloribus molestiae omnis provident! Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nihil, fuga eum, incidunt porro, repudiandae ad aspernatur a voluptate soluta accusamus recusandae saepe culpa architecto laudantium ullam laborum sit doloribus.</p>
</body>
</html>