<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body class="text-center"
		style="background-color: #a84a73; background-image: linear-gradient(90deg, #0d0887, #41049d, #6a00a8, #8f0da4, #b12a90, #cb4679, #e16462, #f1834c, #fca636, #fcce25, #fcce25);">
		<main class="d-flex justify-content-center">
			<form action="/users/login/" method="POST" class="form-signin">
				<h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
				<p>Log in into your account</p>
				<label for="inputEmail" class="sr-only">Email</label>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required=""
					autofocus="" value="devecchi@exxo.es">
				<%# borrar value %>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
						required="" value="123">
					<%# borrar value %>
						<div class="checkbox mb-3">
							<label>
								<input type="checkbox" value="remember-me"> Remember me
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
						<p class="">Do you not have an acount?</p>
						<a href="" class="">Create an acount</p>
			</form>

		</main>
		</div>
	</body>

</html>