<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<h2>Read</h2>
		<p>The Users See page works ok</p>
		<p>User Name: <%- oneUser.firstName %>
		</p>
		<%- include('../partials/footer') %>
	</body>

</html>