<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

	<body>
		<h2>Add</h2>
		<p>The Subscriptions Create Form page works ok</p>

		<%- include('../partials/footer') %>
	</body>

</html>